<div class="container">
    <div class="row">
        <div class="col-12 col-md-3 none-padding">
            <div class="col-12 none-padding">
                <div class="image-upload">
                    <label for="file-input">
                        <img class="img-fluid " src="./assets/logotipos/foto.png"/>
                    </label>
                    <input id="file-input" type="file"/>
                </div>
            </div>
            <div class="col-12">
                <img class="img-fluid img-login mx-auto d-block" src="./assets/logotipos/integra.png" alt="">
            </div>
        </div>
        <div class="col-12 col-md-9 bg-secondary-integra none-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-white text-center">Bienvenido a Integra</h4>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-integra" id="nombre">
                        </div>

                        <div class="form-group">
                            <label for="apellido_p">Apellido paterno</label>
                            <input type="text" class="form-integra" id="apellido_p">
                        </div>

                        <div class="form-group">
                            <label for="apellido_m">Apellido materno</label>
                            <input type="text" class="form-integra" id="apellido_m">
                        </div>

                        <div class="form-group">
                            <label for="email">Correo electronico</label>
                            <input type="text" class="form-integra" id="email">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-integra" id="password">
                        </div>

                        <!-- <div class="form-group">
                            <label for="password_confirmation">Confirmar contraseña</label>
                            <input type="password" class="form-integra" id="password_confirmation">
                        </div> -->

                        <div class="form-group">
                            <label for="nacimiento">Fecha de nacimiento</label>
                            <input type="text" class="form-integra" id="nacimiento">
                        </div>

                        <div class="form-group">
                            <label for="ciudad">Ciudad</label>
                            <input type="text" class="form-integra" id="ciudad">
                        </div>

                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <input type="text" class="form-integra" id="estado">
                        </div>



                        <div class="form-group">
                            <button class="btn-integra btn-primary-integra" type="button" name="button">Registrarse</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
