<div class="bg"></div>

<div class="login content-center">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 col-md-5 bg-imagen-logo none-padding">
                <img class="img-fluid mx-auto d-block img-login" src="./assets/logotipos/integra.png" alt="">
            </div>
            <div class="col-sm-12 col-md-7 none-padding">
                <div class="container none-padding">
                    <form action="">
                        <h4>Iniciar Sesión</h4>
                        <div class="form-group">
                            <label for="email">Correo electronico</label>
                            <input type="text" class="form-integra" id="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña </label>
                            <a class="link-form-ref" href="#">¿Olvidaste tu contraseña?</a>
                            <input type="text" class="form-integra" id="password">
                        </div>
                        <button class="btn-integra btn-primary-integra col-12 col-sm-6">Ingresar</button>
                        <button class="btn-integra btn-primary-integra col-12 col-sm-6">Registrarme</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
