<div class="content-menu">
  <li><a href="#"><img src="assets/icon_menu/principal.svg" alt=""> </a></li>
  <li><a href="#"><img src="assets/icon_menu/trabajos.svg" alt="">  </a></li>
  <li><a href="#"><img src="assets/icon_menu/examen.svg" alt="">    </a></li>
  <li><a href="#"><img src="assets/icon_menu/blog.svg" alt="">      </a></li>
  <li><a href="#"><img src="assets/icon_menu/foro.svg" alt="">      </a></li>
  <li><a href="#"><img src="assets/icon_menu/mensajes.svg" alt="">  </a></li>
</div>