<div class="container">
    <iframe class="video" src="https://www.youtube.com/embed/PMrpwQxhWFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2 class="title uppercase">curso i: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, commodi!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque, modi qui, sequi fugit in illum vitae accusamus, labore soluta maiores at mollitia repellendus voluptatem.
        Sapiente unde quia totam cupiditate amet aspernatur doloribus molestiae assumenda quidem consequatur, fugit error. Iure tenetur, molestiae, ducimus, vitae quisquam cum, eligendi
        repellat consequuntur beatae nostrum ipsam. Voluptatum sit officia, eos, quod commodi a enim atque dicta qui iure optio labore odio ipsum perferendis reiciendis quia at. Tenetur
        labore neque optio nam corporis consequuntur est eos dolor fugit cumque eveniet sunt deserunt, recusandae commodi enim necessitatibus, ex, mollitia earum vel? Dolores unde blanditiis
        distinctio fuga totam harum, quibusdam iusto cum quidem. Magni repellendus nulla facilis esse dolore veniam libero reprehenderit dolorem sint. Quibusdam accusamus quam, animi
        harum quos expedita, error eaque quasi, magnam ut eligendi libero! Necessitatibus eos asperiores numquam libero officiis harum possimus soluta qui ab beatae, sapiente blanditiis.
        Quisquam voluptatum, facere aliquid laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quidem sequi soluta consectetur enim ratione possimus delectus ad, odio repudiandae, quia iusto? Labore nisi
        dolorem quae quis. Sapiente nisi consectetur itaque dicta a adipisci ab nihil magnam provident eum? Consequatur quae pariatur itaque veniam voluptatem quo explicabo unde perspiciatis
         saepe consectetur ducimus, quas omnis ipsum quos consequuntur, magnam officiis hic.</p>

    <div class="jumbotron jumbotron-fluid">
        <div class="row justify-content-md-center">
            <h3 class="col-12 text-center">Duración X semanas</h3>
            <h3 class="col-12 text-center">Certificado</h3>
            <button class="btn-integra btn-primary-integra col-12 col-md-4">Registrarse</button>
        </div>
    </div>
</div>
